{% extends '::base.html.twig' %}


{% block header %}
    <h1 class="text-red text-center error-title">{{ 'pomp.error_title'|trans }}</h1>
{% endblock %}

{% block content %}
    <p class="text-center">{{ 'pomp.error_text1'|trans }}</p>
    <p class="text-center">{{ 'pomp.error_text2'|trans }}</p>
{% endblock %}