{% extends '::base.html.twig' %}


{% block header %}
    <h1 class="text-red text-center error-title">{{ 'pomp.error403_title'|trans }}</h1>
{% endblock %}

{% block content %}
<div style="margin-top:10%; ">
    <p class="text-center">{{ 'pomp.error403_text'|trans }}</p>
    <p class="text-center">{{ 'pomp.error_text2'|trans }}</p>
</div>
{% endblock %}