{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block stylesheets %}
    {{ parent() }}
	<style>
	.jmain-footer {
		background: #fff;
		padding: 15px;
		color: #444;
		border-top: 1px solid #d2d6de;
	}
	</style>
{% endblock %}
{% block body %}
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
         <img src="{{ asset('bundles/app/img/logo_wd.png') }}" alt="Logo" style="max-width:360px;">
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body" style="width:400px;">
        <p>
			{% include "@FOSUser/Resetting/reset_content.html.twig" %}
		</p>
    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
<!-- Main Footer -->
<footer id="fixed-footer" class="jmain-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        WebDentiste Dashboard
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; {{ "now"|date("Y") }} <a href="http://webdentiste.fr/" target="_blank">WebDentiste</a>.</strong> All rights reserved.
</footer>


</body>
{% endblock %}
